{% extends "::base.html.twig" %}

{% set nomPage = 'page.inscription.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <div class="container body-edspim">
        <div class="col-sm-offset-3 col-sm-6 edspim_login">
            <div class="row">
                <img src="{{ asset('img/spim-logo.jpg') }}" alt="logo spim" class="img-responsive">
            </div>
            <div class="row edspim_login_titre">
                {{ 'page.inscription.titre' | trans }}
            </div>
            <div class="row edspim_login_content">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form) }}
                    <div class="alert alert-warning">
                        <ol>
                            <li>{{ 'page.inscription.info1' | trans }}</li>
                            <li>{{ 'page.inscription.info2' | trans }} </li>
                        </ol>                       
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.statut, { 'attr' : {'class' : 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="help-block">{{ 'page.inscription.aide.email' | trans }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.username, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="help-block">{{ 'page.inscription.aide.username' | trans }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first, { 'attr' : {'class' : 'form-control'} }) }}
                    <span class="help-block">{{ 'page.inscription.aide.mdp' | trans }}</span>
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second, { 'attr' : {'class' : 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.nom, { 'attr' : {'class' : 'form-control'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.prenom, { 'attr' : {'class' : 'form-control'} }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.inscription, { 'attr' : {'class' : 'btn btn-default'} }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
