Bonjour.

Vous venez de vous inscrire sur le portail ED SPIM en tant que {{ statut }}

Vos identifiants sont les suivants :
Nom d'utilisateur : {{ username }}

Votre compte sera activé par l'administration dans les plus brefs délais.
