<br/>
{% if listeCommentaires | length != 0 %}
    <div class="col-md-8 col-md-offset-2">
        <br/>
        <div class="list-group">
            {% for commentaire in listeCommentaires %}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ commentaire.dateCommentaire | date }} par {{ commentaire.doctorant }}</h4>
                    <p class="list-group-item-text">{{ commentaire.text }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        Aucun commentaire
    </div>
{% endif %}
