<form method="POST" action="{{ path('edspim_ed_choix_responsable', {'cours' : cours.id })}}">
    <div class="form-group">
        {{ form_row(form.responsable, {'attr' : {'class' : 'form-control' } }) }}
    </div>
<button type="submit" class="btn btn-default">Valider</button>
{{ form_end(form) }}