<form method="POST" action="{{ path('edspim_ed_choix_enseignants', {'cours' : cours.id })}}">
    <div class="form-group">
        {{ form_row(form.enseignants, {'attr' : {'class' : 'form-control', 'rows' : 10 } }) }}
    </div>
    <button type="submit" class="btn btn-default">Valider</button>
    {{ form_end(form) }}