{% extends 'EdspimAppBundle::layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li><a href="{{ path('edspim_compte_liste')}}">{{ 'page.activationListe.nom' | trans }}</a></li>
    <li class="active">{{ compte.email }}</li>
    {% endblock %}

{% block content %}
    <h3>Vérification du compte {{ compte.email }}</h3>

    {% if statut == "doctorant" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.annee) }}
                {{ form_widget(form.annee) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif statut == "administratif" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="alert alert-warning">
                    La validation du compte donnera l'accès à l'ensemble des fonctionnalités administratives de l'ED SPIM
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif statut == "enseignant" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="alert alert-warning">
                    La validation du compte donnera les droits d'administration des cours associés à l'enseignant
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.institut) }}
            </div>
            <div class="form-group">
                {{ form_row(form.departement) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif statut == "administrateur" %}
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="alert alert-danger" role="alert">
                    <strong>Attention!</strong> Un administrateur détient tous les droits sur l'application. Veuillez confirmer l'identité avant de continuer. <br/>
                    Un nouveau mot de passe sera attribué en cas de validation du compte.
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}


{% endblock %}
