{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.activationListe.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li class="active">{{ nomPage }}</li>
    {% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {% for flashMessage in app.session.flashbag.get('compte') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% set nbComptes = comptes | length %}
    {% if nbComptes != 0 %}
        <div class="alert alert-info" role="alert">
            Il y a {{ nbComptes }} demande d'activation
        </div>
        <table class="table table-hover">
            <tr>
                <th>{{ 'entite.utilisateur.statut' | trans}}</th>
                <th>{{ 'entite.utilisateur.nom' | trans}}</th>
                <th>{{ 'entite.utilisateur.prenom' | trans}}</th>
                <th>{{ 'entite.utilisateur.email' | trans}}</th>
                <th>{{ 'entite.utilisateur.pseudo' | trans}}</th>
                <th>{{ 'entite.utilisateur.dateInscription' | trans}}</th>
                <th></th>
            </tr>
            {% for compte in comptes %}
                <tr>
                    <td>{{ compte.statut }}</td>
                    <td>{{ compte.nom }}</td>
                    <td>{{ compte.prenom }}</td>
                    <td>{{ compte.email }}</td>
                    <td>{{ compte.username }}</td>
                    <td>{{ compte.dateInscription | date }}</td>
                    <td><a href="{{ path('edspim_compte', { 'compte' : compte.id }) }}" class="btn btn-sm btn-success">{{ 'phrases.activer' | trans }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'phrases.aucunCompte' | trans }}
        </div>
    {% endif %}

{% endblock %}
