{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.coursGestionStatut.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li><a href='{{ path('edspim_cours', {'cours' : cours.id })}}'>{{ cours.affichage }}</a></li>
    <li class="active">{{ nomPage }}</li>
    {% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {{ form_start(form) }}
    {% if statut == "inscription" %}
        <div class="alert alert-info">
            Le passage du cours de l'archivage à l'inscription va permettre aux doctorants de s'inscrire selon le nombre de places disponibles ({{ cours.maxNbParticipants}} places max). <br/>
            Par ailleurs, veuillez vous assurer que l'ensemble des informations concernant le cours sont exactes.
        </div>
        <button type="submit" class="btn btn-default">Mettre le cours en inscription</button>
    {% elseif statut == "ouverture" %}
        <div class="alert alert-info">
            L'ouverture d'un cours permet de finaliser les inscriptions des doctorants et d'afficher le cours sur leur PIF
        </div>
        <h3>Liste des doctorants inscrits (../{{ cours.maxNbParticipants }})</h3>
        <ul>
            {% for coursDoctorant in cours.coursDoctorant %}
                <li>{{ coursDoctorant.doctorant }}</li>
                {% endfor %}
        </ul>
        <button type="submit" class="btn btn-default">Finaliser et ouvrir le cours</button>
    {% elseif statut == "archivage" %}
        <div class="alert alert-info">
            L'archivage du cours va fermer le cours et l'ensemble des fonctionnalités.
        </div>
        <button type="submit" class="btn btn-default">Fermer le cours</button>
    {% elseif statut == "suppression" %}

    {% elseif statut == "annulation" %}
        <div class="alert alert-info">
            Remettre le cours en archive va supprimer la liste des inscriptions
        </div>
        <h3>Liste des doctorants qui seront désinscrits</h3>
        <ul>
            {% for coursDoctorant in cours.coursDoctorant %}
                <li>{{ coursDoctorant.doctorant }}</li>
                {% endfor %}
        </ul>
        <button type="submit" class="btn btn-default">Annuler ce cours</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}