{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = demandeCours.intitule %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li><a href="{{ path('edspim_ed_cours_horsspim_liste')}}">{{ 'page.demandeCoursHspimListe.nom' | trans }}</a></li>
    <li class="active">{{ nomPage }}</li>
{% endblock %}

{% block content %}
    <h2>Demande de cours Hors SPIM</h2>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Demandeur</th>
                <td><a href="{{ path('edspim_doctorant', {'doc' : demandeCours.doctorant.id }) }}">{{ demandeCours.doctorant }}</a></td>
            </tr>
            <tr>
                <th>Date de la demande</th>
                <td>{{ demandeCours.dateDemande | date }}</td>
            </tr>
            <tr>
                <th>Intitulé</th>
                <td>{{ demandeCours.intitule }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ demandeCours.lieu }}</td>
            </tr>
            <tr>
                <th>Année souhaitée</th>
                <td>{{ demandeCours.annee }}</td>
            </tr>
            <tr>
                <th>Nombre de jours</th>
                <td>{{ demandeCours.nbJours }}</td>
            </tr>
            <tr>
                <th>Nombre d'heures</th>
                <td>{{ demandeCours.nbHeures }}</td>
            </tr>
            <tr>
                <th>Pertinence</th>
                <td>{{ demandeCours.pertinenceFormation }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <table class="table">
            <tr>
                <th>Type de cours</th>
                <td>{{ demandeCours.typeFormation }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.categorieSouhaitee) }}</th>
                <td>{{ form_widget(form.categorieSouhaitee, { 'attr' : {'class' : 'form-control'} }) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(form.commentaire) }}</th>
                <td>{{ form_widget(form.commentaire, { 'attr' : {'class' : 'form-control'} }) }}</td>
            </tr>
            <tr>
                <th>Résultat</th>
                <td>{{ form_widget(form.valider, { 'attr' : {'class' : 'btn btn-success'} }) }} {{ form_widget(form.refuser, { 'attr' : {'class' : 'btn btn-danger'} }) }}</td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>

{% endblock %}