{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.demandeCoursHspimListe.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li class="active">{{ nomPage }}</li>
    {% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {% if demandeCours | length != 0 %}
        <table class="table">
            <tr>
                <th>Demandeur</th>
                <th>Intitule du cours</th>
                <th>Lieu</th>
                <th>Date de la demande</th>
                <th></th>
            </tr>
            {% for demande in demandeCours %}
                <tr>
                    <td>{{ demande.doctorant }}</td>
                    <td>{{ demande.intitule }}</td>
                    <td>{{ demande.lieu }}</td>
                    <td>{{ demande.dateDemande | date }}</td>
                    <td><a href="{{ path('edspim_ed_cours_horsspim', {'demandeCours' : demande.id })}}" class="btn btn-success btn-sm">Voir la demande</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            Aucune demande de cours pour le moment
        </div>
    {% endif %}

{% endblock %}