<h3>Gestion du cours</h3>
<table class="table">
    {% if cours.statutCours == 'archive' %}
        <tr>
            <td><a href="{{ path('edspim_cours_modifier', {'cours' : cours.id})}}" class="btn btn-primary">Modifier les informations du cours</a></td>
            <td>Actualiser l'ensemble des informations sur le cours</td>
        </tr>
        <tr>
            <td><a href="{{ path('edspim_cours_gestion_statut', {'cours' : cours.id, 'statut' : 'inscription'})}}" class="btn btn-default">Mettre le cours en inscription</a></td>
            <td>Permet d'ouvrir le cours aux inscriptions</td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-danger">Supprimer le cours</a></td>
            <td>Supprimer définitivement le cours et l'ensemble des informations associées</td>
        </tr>
    {% elseif cours.statutCours == 'inscription' %}
        <tr>
            <td><a href="{{ path('edspim_cours_gestion_statut', {'cours' : cours.id, 'statut' : 'annulation'})}}" class="btn btn-warning">Annuler l'inscription au cours</a></td>
            <td>Remettre le cours en archive. Attention, les doctorants inscrits seront désinscrits</td>
        </tr>
        <tr>
            <td><a href="{{ path('edspim_cours_gestion_statut', {'cours' : cours.id, 'statut' : 'ouverture'})}}" class="btn btn-default">Finaliser l'inscription</a></td>
            <td>Vérification des doctorants inscrits avant l'ouverture des cours</td>
        </tr>
    {% elseif cours.statutCours == 'ouvert' %}
        <tr>
            <td><a href="{{ path('edspim_cours_gestion_statut', {'cours' : cours.id, 'statut' : 'archivage'})}}" class="btn btn-default">Fermer le cours</a></td>
            <td>Archiver le cours lorsque celui-ci est terminé. Veuillez saisir les présences avant de continuer</td>
        </tr>
    {% endif %}
</table>
<h3>Gestion des enseignants</h3>
<table class="table">
    <tr>
        <th>Responsable du cours</th>
        <td>
            {% if cours.responsable != null %}
                {{ cours.responsable }}
            {% else %}
                Aucun enseignant responsable
            {% endif %}
        </td>
        <td><a href="#" id="lienChoixResponsable">Choisir un enseignant responsable</a></td>
    </tr>
    <tr>
        <th>Enseignants</th>
        <td>
            {% if cours.enseignants | length != 0 %}
                <ul>
                    {% for enseignant in cours.enseignants %}
                        <li>{{ enseignant }}</li>
                        {% endfor %}
                </ul>
            {% else %}
                Aucun enseignant
            {% endif %}
        </td>
        <td><a href="#" id="lienChoixEnseignants">Choisir des enseignants</a></td>
    </tr>
</table>
