<hr/>
<div class="row edspim-navleft-navigation">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('edspim_compte_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.activationListe.nom' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('edspim_ed_cours_gestion') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.coursGestion.nom' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('edspim_ed_cours_horsspim_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.demandeCoursHspimListe.nom' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('edspim_ed_validation_pif_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.validationPifListe.nom' | trans }}</a>
        </li>
    </ul>
</div>