<div class="row">
    <div class="col-md-6">
        {{ render(controller('EdspimAppBundle:ED:donneesUtiles')) }}
    </div>
    <div class="col-md-6">
        {{ render(controller('EdspimAppBundle:ED:statistiques')) }}
    </div>
</div>

