{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.validationPif.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li><a href="{{ path('edspim_ed_validation_pif_liste') }}">{{ 'page.validationPifListe.nom' | trans }}</a></li>
    <li class="active">{{ nomPage }}</li>
    {% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="alert alert-warning">
        Actuellement, {{ pif.doctorant }} est en {{ pif.doctorant.anneeActuelle }}. Valider son PIF changera donc son année.
    </div>
    <div class='form-group'>
        Commentaire du doctorant : {{ pif.commentaireDoctorant }}
    </div>
    {{ form_start(form) }}
    <div class='form-group'>
        {{ form_row(form.commentaireED, {'attr' : {'class' : 'form-control' } }) }}
    </div>
    <div class='col-md-1'>
        <div class='form-group'>
        {{ form_row(form.valider, {'attr' : {'class' : 'btn btn-success' } }) }}
        </div>
    </div>
    <div class='col-md-1'>
        <div class='form-group'>
        {{ form_row(form.refuser, {'attr' : {'class' : 'btn btn-danger' } }) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}