{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.validationPifListe.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    <li class="active">{{ nomPage }}</li>
    {% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {% if validations | length != 0 %}
        <table class="table">
            <tr>
                <th>Doctorant</th>
                <th>Année</th>
                <th>Date de la demande</th>
                <th></th>
            </tr>
            {% for demande in validations %}
                <tr>
                    <td>{{ demande.doctorant }}</td>
                    <td>{{ demande.doctorant.anneeActuelle }}</td>
                    <td>{{ demande.dateDemande | date }}</td>
                    <td><a href="{{ path('edspim_ed_validation_pif', {'pif' : demande.id })}}" class="btn btn-default btn-sm">{{ 'phrases.voirDetail' | trans }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            Aucune demande de validation pour le moment
        </div>
    {% endif %}

{% endblock %}