<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Portail ED SPIM{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/edspim.css') }}" media="all"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="navbar navbar-static-top edspim-navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('edspim_index')}}" class="edspim-navbar-brand">
                        <span class="glyphicon glyphicon-book"></span> Portail de l'ED SPIM
                    </a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('edspim_langue', {'lang' : 'fr' })}}">Francais</a></li>
                        <li><a href="{{ path('edspim_langue', {'lang' : 'en' })}}">English</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}

        {% endblock %}
        <footer class="footer-edspim">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        Application ED SPIM, version 1.1
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('img/logo-utbm.jpg') }}" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/logo_ENSMM.jpg') }}" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/pres.jpg') }}" class="img-responsive">
                    </div>
                    <div class="col-md-3">
                        <img src="{{ asset('img/ub.jpg') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts '@EdspimAppBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                $(document).ready(function() {
                    var height = $(document).height();
                    $(".body-edspim").css("height", height);
                });
            </script>
        {% endblock %}

    </body>
</html>
