<br/>
{% if cours.statutCours == 'cours.statutCours.archive' %}
    <table class="table">
        <tr>
            <td><a href="{{ path('edspim_ed_cours_changer_statut', {'cours' : cours.id, 'statut' : 'inscription'}) }}" class="btn btn-default">Ouvrir ce cours aux inscriptions</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="{{ path('edspim_ed_cours_modifier', {'cours' : cours.id}) }}" class="btn btn-default">Modifier les informations du cours</a></td>
            <td></td>
        </tr>
    </table>
{% elseif cours.statutCours == 'cours.statutCours.inscription' %}
    <table class="table">
        <tr>
            <td><a href="{{ path('edspim_ed_cours_changer_statut', {'cours' : cours.id, 'statut' : 'ouverture'}) }}" class="btn btn-default">Finaliser les inscriptions et ouvrir le cours</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="{{ path('edspim_ed_cours_changer_statut', {'cours' : cours.id, 'statut' : 'annulation'}) }}" class="btn btn-default">Annuler les inscriptions et remettre le cours en archive</a></td>
            <td></td>
        </tr>
    </table>
{% elseif cours.statutCours == 'cours.statutCours.ouvert' %}
     <table class="table">
        <tr>
            <td><a href="{{ path('edspim_ed_cours_changer_statut', {'cours' : cours.id, 'statut' : 'archivage'}) }}" class="btn btn-default">Clore le cours</a></td>
            <td></td>
        </tr>
    </table>
{% endif %}
