<br/>
{% if cours.getCoursDoctorantOuvert | length != 0 %}
    <table class="table">
        <tr>
            <th>{{ 'doctorant.nom' | trans }}</th>
            <th>{{ 'doctorant.prenom' | trans }}</th>
            <th>{{ 'doctorant.labDpt' | trans }}</th>
            <th>{{ 'doctorant.annee' | trans }}</th>
            <th></th>
        </tr>
        {% for coursDoc in cours.getCoursDoctorantOuvert %}
            {% set doctorant = coursDoc.doctorant %}
            <tr>
                <td>{{ doctorant.nom }}</td>
                <td>{{ doctorant.prenom }}</td>
                <td>{{ doctorant.labDpt }}</td>
                <td>{{ doctorant.getAnneeToString | trans }}</td>
                <td><a href="{{ path('edspim_doctorant', {'doctorant' : doctorant.id })}}" class="btn btn-sm btn-success">{{ 'page.doctorantListe.voir' | trans }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-warning">
        {{ 'page.doctorantListe.info1' | trans }}
    </div>
{% endif %}