{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursListe.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'} }) }}
                <div class="form-group">
                    {{ form_widget(form.rechercheParNom, {'required' : false ,'attr': {'class': 'form-control', 'placeholder' : 'Recherche par nom'} } ) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.rechercheParVille, {'required' : false ,'attr': {'class': 'form-control', 'placeholder' : 'Recherche par ville'} } ) }}
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    {{ form_end(form) }}
            </div>
        </div>
    </nav>
    {% if coursListe | length != 0 %}
        <table class="table table-condensed table-hover">
            <tr>
                <th>{{ 'cours.titre' | trans }}</th>
                <th>{{ 'cours.lieu' | trans }}</th>
                <th>{{ 'cours.typeCours.nom' | trans }}</th>
                <th>{{ 'cours.statutCours.nom' | trans }}</th>
                <th></th>
            </tr>
            {% for cour in coursListe %}
                <tr>
                    <td>{{ cour }}</td>
                    <td>{{ cour.lieu }}</td>
                    <td>{{ cour.typeCours | trans }}</td>
                    <td>{{ cour.statutCours | trans }}</td>
                    <td><a href="{{ path('edspim_cours', {'cours' : cour.id })}}" class="btn btn-sm btn-success">Voir le cours</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <br/>
        <div class="alert alert-warning">
            {{ 'page.coursListe.info1' | trans }}
        </div>
    {% endif %}
{% endblock %}