{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = cours %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_cours_liste')}}">{{ 'page.coursListe.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">{{ 'page.cours.info' | trans }}</a></li>
            {% if estED or estDoctorant or estEnseignant %}
            <li><a href="#seances" data-toggle="tab">{{ 'page.cours.seances' | trans }} <span class="badge">{{cours.seancesActives | length }}</span></a></li>
            <li><a href="#inscrits" data-toggle="tab">{{ 'page.cours.inscrits' | trans }} <span class="badge">{{cours.coursDoctorant | length }}</span></a></li>
            <li><a href="#commentaires" data-toggle="tab">{{ 'page.cours.commentaires' | trans }}</a></li>
                {% if estED %}
                <li><a href="#gestionED" data-toggle="tab">{{ 'page.cours.gestion' | trans }}</a></li>
                {% endif %}
            {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="info">
            {% include 'EdspimAppBundle:Default:cours_info.html.twig' with {'cours' : cours} %}
        </div>
        {% if estED or estDoctorant or estEnseignant %}
            <div class="tab-pane" id="seances">
                {% if estED and cours.statutCours != "cours.statutCours.archive" %}
                    <br/>
                    <a href="#" id="lienAjoutSeance" class="btn btn-default btn-sm">Ajouter une séance</a>
                {% endif %}
                {% include 'EdspimAppBundle:Default:cours_seancesListe.html.twig' with {'cours' : cours, 'estED' : estED, 'estEnseignant' : estEnseignant, 'estDoctorant' : estDoctorant } %}
            </div>
            <div class="tab-pane" id="inscrits">
                {% include 'EdspimAppBundle:Default:cours_docListe.html.twig' with {'cours' : cours} %}
            </div>
            <div class="tab-pane" id="commentaires">
                {% if estED %}
                    {% render(controller('EdspimAppBundle:ED:commentaire', {'cours' : cours})) %}
                {% elseif estDoctorant %}
                    {% render(controller('EdspimAppBundle:Doctorant:commentaire', {'cours' : cours})) %}
                {% elseif estEnseignant %}
                    {% render(controller('EdspimAppBundle:Enseignant:commentaire', {'cours' : cours})) %}
                {% endif %}
            </div>
            {% if estED %}
                <div class="tab-pane" id="gestionED">
                    {% include 'EdspimAppBundle:Default:cours_gestion.html.twig' with {'cours' : cours} %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="modal fade" id="modalAjoutSeance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Séance</h4>
                </div>
                <div class="modal-body" id="bodyAjoutSeance">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>

        $(document).ready(function(e) {
            $('button.lienVoirSeance').click(function(e) {
                var $url = "{{ path('edspim_seance_detail', {'seance' : '99999' })}}";
                $url = $url.replace('99999', $(this).attr('data-seance'));
                $.ajax({
                        type: "POST",
                        url: $url,
                        cache: false,
                        success: function(data) {
                            $("#bodyAjoutSeance").html(data);
                            $("#modalAjoutSeance").modal();
                        }
                    });
                    e.preventDefault();
                    return false;
            });
        {% if estED %}
                $('a#lienAjoutSeance').click(function(e) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('edspim_ed_seance_ajout', {'cours' : cours.id })}}",
                        cache: false,
                        success: function(data) {
                            $("#bodyAjoutSeance").html(data);
                            $("#modalAjoutSeance").modal();
                        }
                    });
                    e.preventDefault();
                    return false;
                });
                $('button.lienValidation').click(function(e) {
                    var $url = "{{ path('edspim_ed_presence', {'seance' : '99999' })}}";
                    $url = $url.replace('99999', $(this).attr('data-target'));
                    $.ajax({
                        type: "POST",
                        url: $url,
                        cache: false,
                        success: function(data) {
                            $("#bodyAjoutSeance").html(data);
                            $("#modalAjoutSeance").modal();
                        }
                    });
                    e.preventDefault();
                    return false;
                });
        {% elseif estEnseignant %}
                $('button.lienPresence').click(function(e) {
                    var $url = "{{ path('edspim_enseignant_presence', {'seance' : '99999' })}}";
                    $url = $url.replace('99999', $(this).attr('data-target'));
                    $.ajax({
                        type: "POST",
                        url: $url,
                        cache: false,
                        success: function(data) {
                            $("#bodyAjoutSeance").html(data);
                            $("#modalAjoutSeance").modal();
                        }
                    });

                    return false;
                });
        {% endif %}
            });
    </script>         
{% endblock %}