<br/>
<div class="col-md-6">
    <table class="table">
        <tr>
            <th>{{ 'cours.statutCours.nom' | trans }}</th>
            <td>{{ cours.statutCours | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.acronyme' | trans }}</th>
            <td>{{ cours.acronyme }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.titre' | trans }}</th>
            <td>{{ cours.titre }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.lieu' | trans }}</th>
            <td>{{ cours.lieu }}</td>
        </tr>
    </table>
</div>
<div class="col-md-6">
    <table class="table">
        <tr>
            <th>{{ 'cours.anneeFormation' | trans }}</th>
            <td>{{ cours.anneeFormation }} ({{ cours.anneeDebut }} - {{ cours.anneeFin }})</td>
        </tr>
        <tr>
            <th>{{ 'cours.frequence' | trans }}</th>
            <td>{{ cours.frequence }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.maxNbParticipants' | trans }}</th>
            <td>{{ cours.maxNbParticipants }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.enseignants' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for enseignant in cours.enseignantCours %}
                        <li>{{ enseignant.enseignant }}</li>
                        {% endfor %}
                </ul>
            </td>
        </tr>
        
    </table>
</div>
<div class="col-md-12">
    <table class="table">
        <tr>
            <th>{{ 'cours.acquis' | trans }}</th>
            <td>{{ cours.acquis | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.contenu' | trans }}</th>
            <td>{{ cours.contenu }}</td>
        </tr>
        <tr>
            <th>{{ 'cours.connaissancesDemandees' | trans }}</th>
            <td>{{ cours.connaissancesDemandees }}</td>
        </tr>
    </table>
</div>
