<br/>
{% if cours.seancesActives | length != 0 %}
    <table class="table table-hover table-bordered">
        <tr>
            <th>{{ 'seance.dateSeance' | trans }}</th>
            <th>{{ 'seance.typeSeance.nom' | trans }}</th>
            <th>{{ 'page.cours.feuillePresence' | trans }}</th>
            <th>{{ 'page.cours.validationPresence' | trans }}</th>
            <th></th>
        </tr>
        {% for seance in cours.seancesActives %}
            <tr>
                <td>{{ seance.dateSeance | date('D d/m/y') }} {{ seance.heureSeance | date('H:i')}}</td>
                <td>{{ seance.nbHeures }}h de {{ seance.typeSeance | trans }}</td>
                {% if estDoctorant %}
                    {% if seance.presenceEnseignant %}
                        <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.presenceOK' | trans }}</button></td>
                        {% else %}
                        <td><button class="btn btn-sm btn-default" disabled="disabled">{{ 'page.cours.presenceNOK' | trans }}</button></td>
                        {% endif %}
                        {% if seance.presenceED %}
                        <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.validationOK' | trans }}</button></td>
                        {% else %}
                        <td><button class="btn btn-sm btn-default" disabled="disabled">{{ 'page.cours.validationNOK' | trans }}</button></td>
                        {% endif %}
                    {% elseif estEnseignant %}
                        {% if seance.presenceEnseignant %}
                        <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.presenceOK' | trans }}</button></td>
                        {% else %}
                        <td><button class="btn btn-sm btn-warning lienPresence" data-target="{{ seance.id }}">{{ 'page.cours.presenceNOK' | trans }}</button></td>
                        {% endif %}
                        {% if seance.presenceED %}
                        <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.validationOK' | trans }}</button></td>
                        {% else %}
                        <td><button class="btn btn-sm btn-default" disabled="disabled">{{ 'page.cours.validationNOK' | trans }}</button></td>
                        {% endif %}
                    {% elseif estED %}
                        {% if seance.presenceEnseignant %}
                        <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.validationOK' | trans }}</button></td>
                            {% if seance.presenceED %}
                            <td><button class="btn btn-sm btn-success" data-target="{{ seance.id }}">{{ 'page.cours.validationOK' | trans }}</button></td>
                            {% else %}
                            <td><button class="btn btn-sm btn-warning lienValidation" data-target="{{ seance.id }}">Validation à faire</button></td>
                        {% endif %}
                    {% else %}
                        <td><button class="btn btn-sm btn-default" disabled="disabled">{{ 'page.cours.presenceNOK' | trans }}</button></td>
                        <td><button class="btn btn-sm btn-default" disabled="disabled">{{ 'page.cours.validationNOK' | trans }}</button></td>
                        {% endif %}
                    {% endif %}
                <td>
                    <button class="btn btn-default btn-sm lienVoirSeance" data-seance="{{ seance.id }}">{{ 'phrases.voirDetail' | trans }}</button>
                   
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-warning">
        {{ 'phrases.seanceAucune' | trans }}
    </div>
{% endif %}