{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.doctorant.nom' | trans ~ ' ' ~ doctorant %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_liste')}}">{{ 'page.doctorantListe.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">{{ 'page.doctorant.info' | trans }}</a></li>
        <li><a href="#coursActuels" data-toggle="tab">{{ 'page.doctorant.coursActuels' | trans }}</a></li>
            {% if is_granted('ROLE_ED') %}
            <li><a href="#gestioNCours" data-toggle="tab">{{ 'page.coursGestion.nom' | trans }}</a></li>
            {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <br/>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Statut</th>
                        <td>{{ doctorant.statutDoctorant | trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.prenom' | trans }}</th>
                        <td>{{ doctorant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.nom' | trans }}</th>
                        <td>{{ doctorant.nom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'utilisateur.email' | trans }}</th>
                        <td>{{ doctorant.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>{{ 'doctorant.labDpt' | trans }}</th>
                        <td>{{ doctorant.labDpt }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.annee' | trans }}</th>
                        <td>{{ doctorant.anneeToString | trans }}</td>
                    </tr>
                    {% if is_granted('ROLE_ED') %}
                        <tr>
                            <th>PIF</th>
                            <td><a href="{{ path('edspim_ed_pif', {'doctorant' : doctorant.id }) }}">Voir le PIF</a></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="tab-pane" id="coursActuels">
            <br/>
            {% if doctorant.coursDoctorantActif | length != 0 %}
                <table class="table">
                    <tr>
                        <th>{{ 'cours.titre' | trans }}</th>
                        <th>{{ 'cours.lieu' | trans }}</th>
                        <th>{{ 'cours.typeCours.nom' | trans }}</th>
                        <th>{{ 'cours.statutCours.nom' | trans }}</th>
                        <th></th>
                    </tr>
                    {% for c in doctorant.coursDoctorantActif %}
                        <tr>
                            <td>{{ c.cours.titre }}</td>
                            <td>{{ c.cours.lieu }}</td>
                            <td>{{ c.cours.typeCours | trans }}</td>
                            <td>{{ c.cours.statutCours | trans }}</td>
                            <td><a href="{{ path('edspim_cours', {'cours' : c.cours.id })}}" class="btn btn-sm btn-success">{{ 'page.coursListe.voirCours' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'page.doctorant.coursActifs' | trans }}
                </div>
            {% endif %}




        </div>
        {% if is_granted('ROLE_ED') %}
            <div class="tab-pane" id="gestioNCours">
                <br/>
                <a href="{{ path('edspim_ed_pif', {'doctorant' : doctorant.id }) }}" class="btn btn-sm btn-default">Voir le PIF</a>
                {% if doctorant.statutDoctorant != "doctorant.statutDoctorant.clos" %}
                    <a href="{{ path('edspim_ed_ajouter_pif', {'doctorant' : doctorant.id })}}" class="btn btn-sm btn-success">Ajouter un cours dans le PIF</a>
                    <a href="{{ path('edspim_ed_desactiver_doc', {'doctorant' : doctorant.id }) }}" class="btn btn-sm btn-danger">Désactiver le compte</a>
                {% endif %}
                <br/><br/>
                <table class="table">
                    <tr>
                        <th>{{ 'cours.titre' | trans }}</th>
                        <th>{{ 'doctorant.annee' | trans }}</th>
                        <th>{{ 'cours.typeCours.nom' | trans }}</th>
                        <th>{{ 'doctorant.heureValidees' | trans }}</th>
                        <th></th>
                    </tr>
                    {% for coursPif in doctorant.coursPif %}
                        <tr>
                            <td>{{ coursPif.nomCoursPif }}</td>
                            <td>{{ coursPif.anneePif }}</td>
                            <td>{{ coursPif.typeCours | trans }}</td>
                            <td>{{ coursPif.heureValidees }}</td>
                            <td><a href="{{ path('edspim_ed_modifier_pif', {'coursPif' : coursPif.id })}}" class="btn btn-sm btn-default">Modifier</a> <a href="{{ path('edspim_ed_supprimer_pif', {'pif' : coursPif.id })}}" class="btn btn-sm btn-default">Supprimer</a></td>
                        </tr>
                    {% endfor%}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
