{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.doctorantListe.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'} }) }}
                <div class="form-group">
                    {{ form_widget(form.recherche, {'required' : false ,'attr': {'class': 'form-control', 'placeholder' : 'Recherche'} } ) }}
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    {{ form_end(form) }}
            </div>
        </div>
    </nav>
    {% if docListe | length != 0 %}
        <table class="table table-condensed table-hover">
            <tr>
                <th>{{ 'doctorant.nom' | trans }}</th>
                <th>{{ 'doctorant.prenom' | trans }}</th>
                <th>{{ 'utilisateur.email' | trans }}</th>
                <th>{{ 'doctorant.labDpt' | trans }}</th>
                <th>{{ 'doctorant.annee' | trans }}</th>
                <th></th>
            </tr>
            {% for doc in docListe %}
                <tr>
                    <td>{{ doc.nom }}</td>
                    <td>{{ doc.prenom }}</td>
                    <td>{{ doc.email }}</td>
                    <td>{{ doc.labDpt | trans }}</td>
                    <td>{{ doc.anneeToString | trans }}</td>
                    <td><a href="{{ path('edspim_doctorant', {'doctorant' : doc.id })}}" class="btn btn-sm btn-success">{{ 'page.doctorantListe.voir' | trans }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <br/>
        <div class="alert alert-warning">
            {{ 'page.doctorantListe.info1' | trans }}
        </div>
    {% endif %}
{% endblock %}