{% extends '::base.html.twig' %}

{% set nomPage = 'page.index.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock  %}

{% block body %}
    <div class="container body-edspim">
        <div class="col-sm-offset-3 col-sm-6 edspim_login">
            <div class="row">
                <img src="{{ asset('img/spim-logo.jpg') }}" alt="logo spim" class="img-responsive">
            </div>
            <div class="row edspim_login_titre">
                {{ 'page.index.titre' | trans }}
            </div>
            <div class="row edspim_login_content">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group">
                        <label for="username">{{ 'utilisateur.pseudo' | trans }}</label>
                        <input type="text" id="username" name="_username" value="" required="required" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'utilisateur.mdp' | trans }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
                                {{ 'page.index.souvenir' | trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                        <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-default"/>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <a href="{{ path('edspim_inscription') }}">{{ 'page.inscription.nom' | trans }}</a><br/>
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'page.oubliMdp.nom' | trans }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
