{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.modification.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="col-md-6">
        {{ form_start(form) }}
        {% if is_granted('ROLE_ED') %}
            <div class="form-group">
                {{ form_row(form.email, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.fonction, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
        {% elseif is_granted('ROLE_DOCTORANT') %}   
            <div class="form-group">
                {{ form_row(form.email, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.labDpt, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
        {% else %}
            <div class="form-group">
                {{ form_row(form.email, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.fonction, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.institut, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.labDpt, {'attr' : { 'class' : 'form-control'} }) }}
            </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
