{% set formation1 = [] %}
{% set formation2 = [] %}
{% set formation3 = [] %}
{% set boite1 = [] %}
{% set boite2 = [] %}
{% set boite3 = [] %}
{% set coursED1 = [] %}
{% set coursED2 = [] %}
{% set coursED3 = [] %}
{% set tutoCongres1 = [] %}
{% set tutoCongres2 = [] %}
{% set tutoCongres3 = [] %}
{% set ecoleEte1 = [] %}
{% set ecoleEte2 = [] %}
{% set ecoleEte3 = [] %}
{% set autres1 = [] %}
{% set autres2 = [] %}
{% set autres3 = [] %}

{% set totalFormation1 = 0 %}
{% set totalFormation2 = 0 %}
{% set totalFormation3 = 0 %}
{% set totalBoite1 = 0 %}
{% set totalBoite2 = 0 %}
{% set totalBoite3 = 0 %}
{% set totalScience1 = 0 %}
{% set totalScience2 = 0 %}
{% set totalScience3 = 0 %}

{% for cours in doctorant.coursPif %}
    {% if cours.typeCours == 'cours.typeCours.formation' %}
        {% if cours.anneePif == '1' %}
            {% set formation1 = formation1|merge([cours]) %}
            {% set totalFormation1 = totalFormation1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set formation2 = formation2|merge([cours]) %}
            {% set totalFormation2 = totalFormation2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set formation3 = formation3|merge([cours]) %}
            {% set totalFormation3 = totalFormation3+cours.heureValidees %}
        {% endif %}
    {% elseif cours.typeCours == 'cours.typeCours.boite' %}
        {% if cours.anneePif == '1' %}
            {% set boite1 = boite1|merge([cours]) %}
            {% set totalBoite1 = totalBoite1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set boite2 = boite2|merge([cours]) %}
            {% set totalBoite2 = totalBoite2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set boite3 = boite3|merge([cours]) %}
            {% set totalBoite3 = totalBoite3+cours.heureValidees %}
        {% endif %}
    {% elseif cours.typeCours == 'cours.typeCours.coursED' %}
        {% if cours.anneePif == '1' %}
            {% set coursED1 = coursED1|merge([cours]) %}
            {% set totalScience1 = totalScience1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set coursED2 = coursED2|merge([cours]) %}
            {% set totalScience2 = totalScience2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set coursED3 = coursED3|merge([cours]) %}
            {% set totalScience3 = totalScience3+cours.heureValidees %}
        {% endif %}
    {% elseif cours.typeCours == 'cours.typeCours.tutoCongres' %}
        {% if cours.anneePif == '1' %}
            {% set tutoCongres1 = tutoCongres1|merge([cours]) %}
            {% set totalScience1 = totalScience1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set tutoCongres2 = tutoCongres2|merge([cours]) %}
            {% set totalScience2 = totalScience2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set tutoCongres3 = tutoCongres3|merge([cours]) %}
            {% set totalScience3 = totalScience3+cours.heureValidees %}
        {% endif %}
    {% elseif cours.typeCours == 'cours.typeCours.ecoleEte' %}
        {% if cours.anneePif == '1' %}
            {% set ecoleEte1 = ecoleEte1|merge([cours]) %}
            {% set totalScience1 = totalScience1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set ecoleEte2 = ecoleEte2|merge([cours]) %}
            {% set totalScience2 = totalScience2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set ecoleEte3 = ecoleEte3|merge([cours]) %}
            {% set totalScience3 = totalScience3+cours.heureValidees %}
        {% endif %}
    {% elseif cours.typeCours == 'cours.typeCours.autre' %}
        {% if cours.anneePif == '1' %}
            {% set autres1 = autres1|merge([cours]) %}
            {% set totalScience1 = totalScience1+cours.heureValidees %}
        {% elseif cours.anneePif == '2' %}
            {% set autres2 = autres2|merge([cours]) %}
            {% set totalScience2 = totalScience2+cours.heureValidees %}
        {% elseif cours.anneePif == '3' %}
            {% set autres3 = autres3|merge([cours]) %}
            {% set totalScience3 = totalScience3+cours.heureValidees %}
        {% endif %}
    {% endif %}
{% endfor %}
<div id="pif">
    <table class="table table-condensed table-bordered pif-align">
        <tr class="pif-align" id="pif-annee">
            <td class="col-md-3">Année 1</td>
            <td></td>
            <td class="col-md-3">Année 2</td>
            <td></td>
            <td class="col-md-3">Année 3</td>
            <td></td>
            <td>Total</td>
        </tr>
        <tr class="pif-align" id="pif-intitule">
            <td>Intitulé formation</td>
            <td>Hrs</td>
            <td>Intitulé formation</td>
            <td>Hrs</td>
            <td>Intitulé formation</td>
            <td>Hrs</td>
            <td></td>
        </tr>
        <tr class="pif-align" id="pif-intitule-formation">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-align" id="pif-formation">
            <td>Formation générale</td>
            <td></td>
            <td>Formation générale</td>
            <td></td>
            <td>Formation générale</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-formation-content">
            <td id="pif-formation-content-a1">
                <table class="table table-hover table-condensed">
                    {% for cours in formation1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in formation1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td id="pif-formation-content-a2">
                <table class="table table-hover table-condensed">
                    {% for cours in formation2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in formation2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td id="pif-formation-content-a3">
                <table class="table table-hover table-condensed">
                    {% for cours in formation3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in formation3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr class="pif-align">
            <td></td>
            <td>{{ totalFormation1 }}</td>
            <td></td>
            <td>{{ totalFormation2 }}</td>
            <td></td>
            <td>{{ totalFormation3 }}</td>
            <td>{{ totalFormation1+totalFormation2+totalFormation3 }}</td>
        </tr>
        <tr class="pif-align" id="pif-boite">
            <td>Boite à outils</td>
            <td></td>
            <td>Boite à outils</td>
            <td></td>
            <td>Boite à outils</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-formation-content">
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in boite3 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr class="pif-align">
            <td></td>
            <td>{{ totalBoite1 }}</td>
            <td></td>
            <td>{{ totalBoite2 }}</td>
            <td></td>
            <td>{{ totalBoite3 }}</td>
            <td>{{ totalBoite1+totalBoite2+totalBoite3 }}</td>
        </tr>
        <tr class="pif-align" id="pif-sciences">
            <td>Sciences</td>
            <td></td>
            <td>Sciences</td>
            <td></td>
            <td>Sciences</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-align pif-sciences-cate">
            <td>{{ 'cours.typeCours.coursED' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.coursED' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.coursED' | trans }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-sciences-content">
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in coursED3 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr class="pif-align pif-sciences-cate">
            <td>{{ 'cours.typeCours.tutoCongres' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.tutoCongres' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.tutoCongres' | trans }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-sciences-content">
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in tutoCongres3 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr class="pif-align pif-sciences-cate">
            <td>{{ 'cours.typeCours.ecoleEte' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.ecoleEte' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.ecoleEte' | trans }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-sciences-content">
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in ecoleEte3 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr class="pif-align pif-sciences-cate">
            <td>{{ 'cours.typeCours.autre' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.autre' | trans }}</td>
            <td></td>
            <td>{{ 'cours.typeCours.autre' | trans }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="pif-sciences-content">
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres1 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres1 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres2 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres2 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres3 %}
                        <tr>
                            <td>{{ cours.nomCoursPif }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="table table-hover table-condensed">
                    {% for cours in autres3 %}
                        <tr>
                            <td>{{ cours.heureValidees }}</td>
                        </tr> 
                    {% endfor %}
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>{{ totalScience1 }}</td>
            <td></td>
            <td>{{ totalScience2 }}</td>
            <td></td>
            <td>{{ totalScience3 }}</td>
            <td>{{ totalScience1+totalScience2+totalScience3 }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{ totalFormation1+totalBoite1+totalScience1 }}</td>
            <td>Total</td>
            <td>{{ totalFormation2+totalBoite2+totalScience2 }}</td>
            <td>Total</td>
            <td>{{ totalFormation3+totalBoite3+totalScience3 }}</td>
            <td>{{ totalFormation1+totalBoite1+totalScience1+totalFormation2+totalBoite2+totalScience2+totalFormation3+totalBoite3+totalScience3 }}</td>
        </tr>
    </table>
</div>
