{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.vue.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% set enseignant = app.user.enseignant %}
{% block content %}
    <h2>{{ enseignant }}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">{{ 'page.enseignant.info' | trans }}</a></li>
        <li><a href="#coursActuels" data-toggle="tab">{{ 'page.enseignant.coursActuels' | trans }} <span class="badge">{{ enseignant.coursActif | length }}</span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <br/>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>{{ 'enseignant.prenom' | trans }}</th>
                        <td>{{ enseignant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'enseignant.nom' | trans }}</th>
                        <td>{{ enseignant.nom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'utilisateur.email' | trans }}</th>
                        <td>{{ enseignant.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'enseignant.fonction' | trans }}</th>
                        <td>{{ enseignant.fonction }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'enseignant.labDpt' | trans }}</th>
                        <td>{{ enseignant.labDpt | trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'enseignant.institut' | trans }}</th>
                        <td>{{ enseignant.institut | trans }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><a href="#" class="btn btn-default btn-sm">{{ 'page.vue.modifierInfo' | trans }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="coursActuels">
            <br/>
            {% if enseignant.coursActif | length != 0 %}
            <table class="table">
                <tr>
                    <th>{{ 'cours.titre' | trans }}</th>
                    <th>{{ 'cours.lieu' | trans }}</th>
                    <th>{{ 'cours.typeCours.nom' | trans }}</th>
                    <th>{{ 'cours.statutCours.nom' | trans }}</th>
                    <th></th>
                </tr>
                {% for c in enseignant.coursActif %}
                    <tr>
                        <td>{{ c.cours.titre }}</td>
                        <td>{{ c.cours.lieu }}</td>
                        <td>{{ c.cours.typeCours | trans }}</td>
                        <td>{{ c.cours.statutCours | trans }}</td>
                        <td><a href="{{ path('edspim_cours', {'cours' : c.cours.id })}}" class="btn btn-sm btn-success">{{ 'page.coursListe.voirCours' | trans }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <div class="alert alert-warning">
                    {{ 'page.vue.info1' | trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}