{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.vue.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% set doctorant = app.user.doctorant %}
{% block content %}
    <h2>{{ doctorant }}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">{{ 'page.doctorant.info' | trans }}</a></li>
        <li><a href="#coursActuels" data-toggle="tab">{{ 'page.doctorant.coursActuels' | trans }}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <br/>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>{{ 'doctorant.prenom' | trans }}</th>
                        <td>{{ doctorant.prenom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.nom' | trans }}</th>
                        <td>{{ doctorant.nom }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'utilisateur.email' | trans }}</th>
                        <td>{{ doctorant.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.labDpt' | trans }}</th>
                        <td>{{ doctorant.labDpt }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'doctorant.annee' | trans }}</th>
                        <td>{{ doctorant.anneeToString | trans }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><a href="{{ path('edspim_portail_modification') }}" class="btn btn-default btn-sm">{{ 'page.vue.modifierInfo' | trans }}</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                {% render(controller("EdspimAppBundle:Doctorant:calendrier")) %}
            </div>
        </div>
        <div class="tab-pane" id="coursActuels">
            <br/>
            {% if doctorant.coursDoctorantActif | length != 0 %}
                <table class="table">
                    <tr>
                        <th>{{ 'cours.titre' | trans }}</th>
                        <th>{{ 'cours.lieu' | trans }}</th>
                        <th>{{ 'cours.typeCours.nom' | trans }}</th>
                        <th>{{ 'cours.statutCours.nom' | trans }}</th>
                        <th></th>
                    </tr>
                    {% for c in doctorant.coursDoctorantActif %}
                        <tr>
                            <td>{{ c.cours.titre }}</td>
                            <td>{{ c.cours.lieu }}</td>
                            <td>{{ c.cours.typeCours | trans }}</td>
                            <td>{{ c.cours.statutCours | trans }}</td>
                            <td><a href="{{ path('edspim_cours', {'cours' : c.cours.id })}}" class="btn btn-sm btn-success">{{ 'page.coursListe.voirCours' | trans }}</a></td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <div class="alert alert-warning">
                        {{ 'page.vue.info1' | trans }}
                    </div>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}