{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.vue.nom' | trans %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="col-md-6">
        <h3>{{ 'page.vue.edStatistiques' | trans }}</h3>
        <table class="table table-hover table-bordered">
            <tr>
                <th>{{ 'page.vue.docInscrits' | trans}}</th>
                <td><a href="{{ path('edspim_doctorant_liste')}}">{{ nbDoctorants }}</a></td>
            </tr>
            <tr>
                <th>{{ 'page.vue.ensInscrits' | trans}}</th>
                <td><a href="{{ path('edspim_ed_enseignant_liste') }}">{{ nbEnseignants }}</a></td>
            </tr>
            <tr>
                <th>{{ 'page.vue.coursInscrits' | trans}}</th>
                <td><a href="{{ path('edspim_cours_liste') }}">{{ nbCours }}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>{{ 'page.vue.edDonnees' | trans }}</h3>
        <table class="table table-hover table-bordered">
            <tr>
                <th>{{ 'page.vue.nbActivation' | trans }}</th>
                <td><a href="{{ path('edspim_ed_compte_liste')}}">{{ nbUser }}</a></td>
            </tr>
            <tr>
                <th>{{ 'page.vue.nbCoursHorsSPIM' | trans }}</th>
                <td><a href="{{ path('edspim_ed_coursHS_liste') }}">{{ nbCoursHS }}</a></td>
            </tr>
        </table>
    </div>
{% endblock %}