<form method="POST" action="{{ path('edspim_ed_seance_ajout', { 'cours' : idCours}) }}" class="form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.dateSeance) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.heureSeance) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.typeSeance) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.nbHeures) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.salle) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.batiment) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.adresse) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.lieu) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ajouter cette séance</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
