<table class="table table-hover">
    <tr>
         <th>{{ 'seance.dateSeance' | trans }}</th>
        <td>{{ seance.dateSeance | date('D d/m/y') }} {{ seance.heureSeance | date('H:i')}}</td>
    </tr>
    <tr>
        <th>{{ 'seance.typeSeance.nom' | trans }}</th>
        <td>{{ seance.nbHeures }}h de {{ seance.typeSeance | trans }}</td>
    </tr>
    <tr>
        <th>{{ 'seance.salle' | trans }}</th>
        <td>{{ seance.salle }}</td>
    </tr>
    <tr>
        <th>{{ 'seance.batiment' | trans }}</th>
        <td>{{ seance.batiment }}</td>
    </tr>
    <tr>
        <th>{{ 'seance.adresse' | trans }}</th>
        <td>{{ seance.adresse }}</td>
    </tr>
    <tr>
        <th>{{ 'seance.lieu' | trans }}</th>
        <td>{{ seance.lieu }}</td>
    </tr>
</table>