{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid body-edspim">
        <div class="col-xs-12 col-sm-5 col-md-3 edspim-navleft">
            {% block navleft %}
                <div class="row col-align">
                    <div class="hidden-xs col-sm-5">
                        <img src="{{ asset('img/doctorant_1.png') }}" alt="logo doctorant" class="img-responsive img-circle">
                    </div>
                    <div class="col-sm-7">
                        <h3>{{ app.user.username }}</h3>
                        <a href="#" type="button" class="btn btn-default btn-sm" title="Accueil">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                        <a href="{{ path('edspim_portail_modification') }}" type="button" class="btn btn-default btn-sm" title="Modification">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                        <a href="{{ path('fos_user_security_logout') }}" type="button" class="btn btn-default btn-sm" title="Déconnexion">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </div>   
                </div>
                <hr/>
                <div class="row edspim-navleft-navigation">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="{{ path('edspim_portail') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.vue.nom' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('edspim_doctorant_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.doctorantListe.nom' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('edspim_cours_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.coursListe.nom' | trans }}</a>
                        </li>
                    </ul>
                </div>
                {% if is_granted('ROLE_ED') %}
                    <div class="row edspim-navleft-navigation">
                        <hr/>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ path('edspim_ed_enseignant_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.enseignantListe.nom' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('edspim_ed_compte_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.compteListe.nom' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('edspim_ed_cours_gestion') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.coursGestion.nom' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('edspim_ed_coursHS_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.coursHorsSPIM.nom' | trans }}</a>
                            </li>
                        </ul>
                    </div>
                {% elseif is_granted('ROLE_DOCTORANT') %}
                    <div class="row edspim-navleft-navigation">
                        <hr/>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ path('edspim_doctorant_pif') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.monPif.nom' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('edspim_doctorant_inscription_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.inscriptionListe.nom' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('edspim_doctorant_coursHorsSPIM_liste') }}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ 'page.coursHorsSPIM.nom' | trans }}</a>
                            </li>
                        </ul>
                    </div>
                {% elseif is_granted('ROLE_ENSEIGNANT') %}

                {% endif  %}
            {% endblock %}
        </div>
        <div class="col-xs-12 col-sm-7 col-md-9 content-edspim">

            {% block breadcrumb %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>     

{% endblock %}
