{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = doctorant %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_liste')}}">{{ 'page.doctorantListe.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant', {'doctorant' : doctorant.id })}}">{{ doctorant }}</a></li>
        <li class="active">Ajouter un cours au PIF</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="col-md-6">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.nomCoursPif, {'attr' : {'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.anneePif, {'attr' : {'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.typeCours, {'attr' : {'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.heureValidees, {'attr' : {'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Ajouter le cours</button>
        </div>
        
        {{ form_end(form) }}
    </div>
    <div class="col-md-6">
        <table class="table small">
            <tr>
                <th>{{ 'cours.titre' | trans }}</th>
                <th>{{ 'doctorant.annee' | trans }}</th>
                <th>{{ 'cours.typeCours.nom' | trans }}</th>
                <th>{{ 'doctorant.heureValidees' | trans }}</th>
            </tr>
            {% for coursPif in doctorant.coursPif %}
                <tr>
                    <td>{{ coursPif.nomCoursPif }}</td>
                    <td>{{ coursPif.anneePif }}</td>
                    <td>{{ coursPif.typeCours | trans }}</td>
                    <td>{{ coursPif.heureValidees }}</td>
                </tr>
            {% endfor%}
        </table>
    </div>


{% endblock %}


