{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.changerStatut.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_cours', {'cours' : cours.id })}}">{{ cours }}</a></li>
        <li class="active">{{ statut }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if statut == 'inscription' %}
        <div class="alert alert-warning">
            Le passage du cours {{ cours }} en inscription va avoir les effets suivants :
            <ul>
                <li>Les doctorants pourront s'inscrire au cours ({{ cours.maxNbParticipants }} places disponibles)</li>
                <li>Les séances pourront être rajoutées</li>
            </ul>
        </div>
        <button type="submit" class="btn btn-default">Confirmer la mise en inscription</button>
    {% elseif statut == 'ouverture' %}
        <div class="alert alert-warning">
            Le passage du cours {{ cours }} en ouverture va avoir les effets suivants :
            <ul>
                <li>Les doctorants sélectionnés ci-dessous seront inscrits aux cours et pourront participer aux séances</li>
            </ul>
        </div>
        Doctorants inscrits : {{ cours.getCoursDoctorantInscription | length }} / {{ cours.maxNbParticipants }} 
        <ul class="list-unstyled"> 
            {% for doc in form.coursDoctorant %}
                <li>{{ form_widget(doc, {'attr' : {'checked' : 'checked' } }) }} {{ form_label(doc) }}</li>
                {% endfor %}
        </ul>
        <button type="submit" class="btn btn-default">Confirmer l'ouverture du cours</button>
    {% elseif statut == 'archivage' %}
        <div class="alert alert-warning">
            La cloture du cours {{ cours }} va avoir les effets suivants :
            <ul>
                <li>Les doctorants seront archivés pour ce cours</li>
                <li>Les séances ne seront plus visibles</li>
            </ul>
        </div>
        <div class="form-group">
            {{ form_row(form.coursDoctorant) }}
        </div>
        <button type="submit" class="btn btn-default">Confirmer la cloture du cours</button>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
