{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.compteListe.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {% for flashMessage in app.session.flashbag.get('compte') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% set nbComptes = comptes | length %}
    {% if nbComptes != 0 %}
        <div class="alert alert-info" role="alert">
            Il y a {{ nbComptes }} demande d'activation
        </div>
        <table class="table table-hover">
            <tr>
                <th>{{ 'utilisateur.statut.nom' | trans}}</th>
                <th>{{ 'utilisateur.nom' | trans}}</th>
                <th>{{ 'utilisateur.prenom' | trans}}</th>
                <th>{{ 'utilisateur.email' | trans}}</th>
                <th>{{ 'utilisateur.pseudo' | trans}}</th>
                <th>{{ 'utilisateur.dateInscription' | trans}}</th>
                <th></th>
            </tr>
            {% for compte in comptes %}
                <tr>
                    <td>{{ compte.statut | trans }}</td>
                    <td>{{ compte.nom }}</td>
                    <td>{{ compte.prenom }}</td>
                    <td>{{ compte.email }}</td>
                    <td>{{ compte.username }}</td>
                    <td>{{ compte.dateInscription | date }}</td>
                    <td><a href="{{ path('edspim_ed_compte', { 'compte' : compte.id }) }}" class="btn btn-sm btn-success">{{ 'phrases.verifier' | trans }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'phrases.aucunCompte' | trans }}
        </div>
    {% endif %}

{% endblock %}
