{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = compte.email %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_compte_liste')}}">{{ 'page.activationListe.nom' | trans }}</a></li>
        <li class="active">{{ compte.email }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>

    {% if statut == "utilisateur.statut.doctorant" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.anneeDoctorant) }}
                {{ form_widget(form.anneeDoctorant) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif statut == "utilisateur.statut.ed" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="alert alert-warning">
                    La validation du compte donnera l'accès à l'ensemble des fonctionnalités administratives de l'ED SPIM
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.fonction) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% elseif statut == "utilisateur.statut.enseignant" %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="alert alert-warning">
                    La validation du compte donnera les droits d'administration des cours associés à l'enseignant
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.institut) }}
            </div>
            <div class="form-group">
                {{ form_row(form.labDpt) }}
            </div>
            <div class="form-group">
                {{ form_row(form.fonction) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.valider) }}
                {{ form_widget(form.supprimer) }}
            </div>
            {{ form_end(form) }}
        </div>
        {% else %} {{ statut }}
    {% endif %}


{% endblock %}
