{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.coursGestion.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-form navbar-left">
                    <a href="{{ path('edspim_ed_cours_ajout') }}" class="btn btn-default">Ajouter un nouveau cours</a>
                </div>
            </div>
        </div>
    </nav>
    {% if mesBrouillons | length  != 0 %}
        <h3>Vos brouillons</h3>
        <table class="table table-hover">
            <tr>
                <th>{{ 'cours.titre' | trans }}</th>
                <th>{{ 'cours.lieu' | trans }}</th>
                <th>{{ 'cours.dateModification' | trans }}</th>
                <th></th>
            </tr>
            {% for cours in mesBrouillons %}
                <tr>
                    <td>{{ cours }}</td>
                    <td>{{ cours.lieu }}</td>
                    <td>{{ cours.dateModification | date }}</td>
                    <td>
                        <a href="{{ path('edspim_ed_cours_modifier', {'cours' : cours.id}) }}" class="btn btn-info">Modifier</a>
                        <a href="{{ path('edspim_ed_cours_supprimer', {'cours' : cours.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if propositions | length  == 0 %}
        <br/>
        <div class="alert alert-warning">
            Aucune demande de cours pour le moment
        </div>
    {% else %}
        <h3>Propositions de cours</h3>
        <table class="table table-hover">
            <tr>
                <th>Nom du cours</th>
                <th>Lieu</th>
                <th>Createur</th>
                <th>Dernière modification</th>
                <th></th>
            </tr>
            {% for cours in propositions %}
                <tr>
                    <td>{{ cours.affichage }}</td>
                    <td>{{ cours.ville }}</td>
                    <td>{{ cours.createur.nom }} {{ cours.createur.prenom }}</td>
                    <td>{{ cours.modification | date }}</td>
                    <td><a href="{{ path('edspim_cours_modifier', {'cours' : cours.id}) }}" class="btn btn-info">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %} 