{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'Demande ' ~ coursHS.intitule %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_coursHS_liste')}}">{{ 'page.coursHorsSPIM.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="col-md-6">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.intitule, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lieu, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.annee, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.typeFormation, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.categorieSouhaitee, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nbHeures, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nbJours, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Doctorant</label>
            <br/>
            <a href="{{ path('edspim_doctorant', {'doctorant' : coursHS.doctorant.id })}}">{{ coursHS.doctorant }}</a>
        </div>
        <div class="form-group">
            <label>Pertinence de la formation</label>
            <textarea disabled="disabled" class="form-control">{{ coursHS.commentaire }}</textarea>
        </div>
        <div class="form-group">
            {{ form_row(form.commentaireED, {'attr' : { 'class' : 'form-control' } }) }}
        </div>
        <div class="form-group">
            <div class="col-md-3">
                {{ form_row(form.valider, {'attr' : { 'class' : 'btn btn-success' } }) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.refuser, {'attr' : { 'class' : 'btn btn-danger' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

