{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursHorsSPIM.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    {% if coursHorsSPIMListe | length != 0 %}
        <table class="table">
            <tr>
                <th>{{ 'coursHS.intitule' | trans }}</th>
                <th>{{ 'doctorant' | trans }}</th>
                <th>{{ 'coursHS.statut' | trans }}</th>
                <th>{{ 'coursHS.dateDemande' | trans }}</th>
                <th></th>
            </tr>
            {% for demande in coursHorsSPIMListe %}
                <tr>
                    <td>{{ demande.intitule }}</td>
                    <td>{{ demande.doctorant }}</td>
                    <td>{{ demande.statut | trans }}</td>
                    <td>{{ demande.dateDemande | date }}</td>
                    <td><a href="{{ path('edspim_ed_coursHS', {'coursHS' : demande.id }) }}" class="btn btn-sm btn-default">Voir la demande</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            Aucune demande de cours Hors SPIM actuellement
        </div>
    {% endif %}
{% endblock %}
