{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursAjout.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_cours_gestion')}}">{{ 'page.coursGestion.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.titre, {'attr' : { 'class' : 'form-control input-sm' } }) }}
            <span class="help-block">Ex : Conception des systèmes</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.acronyme, {'attr' : { 'class' : 'form-control input-sm' } }) }}
            <span class="help-block">Ex : GL02</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.typeCours, {'attr' : { 'class' : 'form-control input-sm' } }) }}
            <span class="help-block">Choisir le type de cours associé</span>
        </div>
    </div>    
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.lieu, {'attr' : { 'class' : 'form-control input-sm' } }) }}
            <span class="help-block">Le lieu de déroulement du cours</span>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <div class="form-group">
            {{ form_row(form.etapeSuivante, {'attr' : { 'class' : 'btn btn-default' } }) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}