{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursAjout.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_cours_gestion')}}">{{ 'page.coursGestion.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Informations obligatoires</a></li>
        <li><a href="#calendrier" data-toggle="tab">Calendrier</a></li>
        <li><a href="#examens" data-toggle="tab">Examens</a></li>
        <li><a href="#enseignants" data-toggle="tab">Enseignants</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
    </ul>
    {{ form_start(form) }}
    <div class="tab-content row"> 
        <div class="tab-pane active" id="info">
            <br/>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.titre, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    <span class="help-block">Ex : Conception des systèmes</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.acronyme, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    <span class="help-block">Ex : GL02</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.typeCours, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    <span class="help-block">Choisir le type de cours associé</span>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.maxNbParticipants, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    <span class="help-block">Combien de doctorants peuvent suivre le cours</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_row(form.lieu, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    <span class="help-block">Le lieu de déroulement du cours</span>
                </div>
            </div>
        </div> 
        <div class="tab-pane" id="calendrier">
            <br/>
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.anneeFormation, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                        <span class="help-block">Ex : 2014-2015</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.anneeDebut, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                        <span class="help-block">Ex : Aout 2014</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.anneeFin, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                        <span class="help-block">Ex : Janvier 2015</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.frequence, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                        <span class="help-block">Ex : 2 cours par semaine</span>
                    </div>
                </div>
            </div> 
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.salleReservee, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.batiment, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_row(form.adresse, {'attr' : { 'class' : 'form-control input-sm' } }) }}
                    </div>
                </div>
            </div> 
        </div>
        <div class="tab-pane" id="examens">
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.oral) }} {{ form_label(form.oral) }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.ecrit) }} {{ form_label(form.ecrit) }}
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.ecritOral) }} {{ form_label(form.ecritOral) }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.finalEcrit) }} {{ form_label(form.finalEcrit) }}
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.presentationOral) }} {{ form_label(form.presentationOral) }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.rapportProjet) }} {{ form_label(form.rapportProjet) }}
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.multiple) }} {{ form_label(form.multiple) }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.autre) }} {{ form_label(form.autre) }}
                    </label>
                </div>
            </div>

        </div> 
        <div class="tab-pane" id="enseignants">
            <div class="col-md-12"> 
                <div id="edspim_bundle_appbundle_coursmodif_enseignantCours" data-prototype="{{ form_widget(form.enseignantCours.vars.prototype) | e }}">
                    <div id="edspim_tohide"></div>
                    <table class="table" id="edspim_bundle_appbundle_coursmodif_enseignantCours_table">
                        <tr>
                            <td>
                                <a href="#" id="ajout_user">Ajouter un enseignant</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for enseignantCours in form.enseignantCours %}
                            <tr>
                                <td>{{ form_widget(enseignantCours.enseignant) }}</td>
                                <td>{{ form_widget(enseignantCours.heureCours) }}</td>
                                <td>{{ form_widget(enseignantCours.heureTD) }}</td>
                                <td>{{ form_widget(enseignantCours.heureTP) }}</td>
                                <td>Responsable du cours : {{ form_widget(enseignantCours.estResponsable) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {{ form_widget(form.enseignantCours) }}
                </div>
            </div> 
        </div>
            <div class="tab-pane" id="description">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.acquis, {'attr' : { 'class' : 'form-control input-sm', 'rows' : 8 } }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.contenu, {'attr' : { 'class' : 'form-control input-sm', 'rows' : 8 } }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.commentaireED, {'attr' : { 'class' : 'form-control input-sm', 'rows' : 8 } }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.connaissancesDemandees, {'attr' : { 'class' : 'form-control input-sm', 'rows' : 8 } }) }}
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3">
                {{ form_row(form.supprimer, {'attr' : { 'class' : 'btn btn-default' } }) }}
            </div>
            <div class="col-md-1">
                {{ form_row(form.brouillon, {'attr' : { 'class' : 'btn btn-default' } }) }}
            </div>
            <div class="col-md-1">
                {{ form_row(form.archiver, {'attr' : { 'class' : 'btn btn-default' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {
                var $container = $('div#edspim_bundle_appbundle_coursmodif_enseignantCours');
                var index = $container.find(':input').length;

                $('a#ajout_user').click(function(e) {
                    ajouterEnseignant($container);
                    e.preventDefault();
                    return false;
                });

                function ajouterEnseignant($container) {
                    var $prototype = $container.attr('data-prototype').replace(/__name__/g, index);
                    var $toHide = $('#edspim_tohide');
                    $toHide.html($prototype);
                    $('#edspim_bundle_appbundle_coursmodif_enseignantCours_table').append('<tr><td>' + $('#edspim_bundle_appbundle_coursmodif_enseignantCours_' + index + '_enseignant').parent().html() + '</td><td>' + $('#edspim_bundle_appbundle_coursmodif_enseignantCours_' + index + '_heureCours').parent().html() + '</td><td>' + $('#edspim_bundle_appbundle_coursmodif_enseignantCours_' + index + '_heureTD').parent().html() + '</td><td>' + $('#edspim_bundle_appbundle_coursmodif_enseignantCours_' + index + '_heureTP').parent().html() + '</td><td>' + $('#edspim_bundle_appbundle_coursmodif_enseignantCours_' + index + '_estResponsable').parent().html() + '</td></tr>');
                    $toHide.html('');
                    index++;
                }
            });
        </script>
    {% endblock %}

