<div class="col-md-8 col-md-offset-2">
    <br/>
    <div class="list-group">
        {% for commentaire in listeCommentaires %}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{ commentaire.dateCommentaire | date }} par {{ commentaire.doctorant }}</h4>
                <p class="list-group-item-text">
                    {{ commentaire.text }}
                </p>
            </a>
            {% if not commentaire.visible %}
                <a href="{{ path('edspim_ed_comment_active', {'comm' : commentaire.id }) }}" class="btn btn-sm btn-default">Rendre visible</a>
            {% endif %}
            <a href="{{ path('edspim_ed_comment_supprimer', {'comm' : commentaire.id }) }}" class="btn btn-sm btn-default">Supprimer</a>
        {% endfor %}
    </div>
</div>
