{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursAjout.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_cours_gestion')}}">{{ 'page.coursGestion.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    {{ form_start(form) }}
    <div class="alert alert-warning">
        Etes-vous certain de vouloir supprimer le cours {{ cours }} ? <br/>
        Cela entrainera la suppression de l'ensemble des données associées.
    </div>
    <button type="submit" class="btn btn-danger">Supprimer le cours</button>
    {{ form_end(form) }}
{% endblock %}
