{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.doctorant.nom' | trans ~ ' ' ~ doctorant %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_liste')}}">{{ 'page.doctorantListe.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant', {'doctorant' : doctorant.id })}}">{{ nomPage }}</a></li>
        <li class="active">Désactiver le compte</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Désactiver le compte</h2>
    {{ form_start(form) }}
    <div class="alert alert-warning">En désactivant ce doctorant, ce dernier ne pourra plus accéder à la plateforme</div>
    <button type="submit" class="btn btn-default btn-sm">Désactiver ce doctorant</button>
    {{ form_end(form) }}
    
{% endblock %}