{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = enseignant %}
{% block title %}{{ nomPage }} {% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_ed_enseignant_liste')}}">{{ 'page.enseignantListe.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>{{ 'enseignant.nom' | trans}}</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'enseignant.prenom' | trans}}</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>{{ 'utilisateur.email' | trans}}</th>
                <td>{{ enseignant.email }}</td>
            </tr>
            <tr>
                <th>{{ 'enseignant.fonction' | trans}}</th>
                <td>{{ enseignant.fonction }}</td>
            </tr>
            <tr>
                <th>{{ 'enseignant.institut' | trans}}</th>
                <td>{{ enseignant.institut }}</td>
            </tr>
            <tr>
                <th>{{ 'enseignant.labDpt' | trans}}</th>
                <td>{{ enseignant.labDpt }}</td>
            </tr>
        </table>
    </div>


{% endblock %}

