{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'PIF de ' ~ doctorant %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_liste')}}">{{ 'page.doctorantListe.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant', {'doctorant' : doctorant.id })}}">{{ doctorant }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    {% include "EdspimAppBundle:Default:pif.html.twig" with {'doctorant' : doctorant, 'estED' : true, 'estMoi' : false } %}
{% endblock %}
