<form method="POST" action="{{ path('edspim_ed_presence', {'seance' : seance.id })}}" class="form">
{{ form_row(form.sontPresents) }}
{{ form_row(form.sontAbsents) }}
<button type="submit">Valider</button>
{{ form_end(form) }}