{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = pif.doctorant %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="alert alert-warning">
        Etes vous sur de vouloir supprimer le cours {{ pif.nomCoursPif }} du Pif de {{ pif.doctorant }} ?
    </div>
    {{ form_start(form) }}
    <button type="submit" class="btn btn-danger">Supprimer le cours</button>
    {{ form_end(form) }}
    
{% endblock %}

