<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Liste des séances à venir</h3>
    </div>
    <div class="panel-body">
        {% if seancesListe | length != 0 %}
            <ul class="list-group">
                {% for seance in seancesListe %}
                    <li class="list-group-item">{{ seance.cours}} - {{ seance.dateSeance | date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">
                Aucune séance prévu pour le moment
            </div>
        {% endif %}
    </div>
</div>


