<div class="col-md-8 col-md-offset-2">
    <form action="{{ path('edspim_doctorant_commentaire_ajout', {'cours' : cours.id })}}" method="POST">
        {{ form_row(form.text, {'attr' : { 'class' : 'form-control' } }) }}
        <button type="submit" class="btn btn-default">Ajouter ce commentaire</button>
        {{ form_end(form) }}
        <br/>
        <div class="list-group">
            {% for commentaire in listeCommentaires %}
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ commentaire.dateCommentaire | date }}</h4>
                    <p class="list-group-item-text">{{ commentaire.text }}</p>
                </a>
            {% endfor %}
        </div>
</div>
