{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursHorsSPIMNouveau.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_coursHorsSPIM_liste')}}">{{ 'page.coursHorsSPIM.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.intitule, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lieu, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.annee, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.typeFormation, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.categorieSouhaitee, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nbJours, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nbHeures, { 'attr' : {'class' : 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.commentaire, { 'attr' : {'class' : 'form-control', 'rows' : 8} }) }}
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-default">Demander ce cours</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
