{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'Demande ' ~ coursHorsSPIM.intitule %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_coursHorsSPIM_liste')}}">{{ 'page.coursHorsSPIM.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>{{ 'coursHS.intitule' | trans }}</th>
                <td>{{ coursHorsSPIM.intitule }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.lieu' | trans }}</th>
                <td>{{ coursHorsSPIM.lieu }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.typeFormation' | trans }}</th>
                <td>{{ coursHorsSPIM.typeFormation | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.categorieSouhaitee' | trans }}</th>
                <td>{{ coursHorsSPIM.categorieSouhaitee | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.annee' | trans }}</th>
                <td>{{ coursHorsSPIM.annee }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.nbJours' | trans }}</th>
                <td>{{ coursHorsSPIM.nbJours }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.nbHeures' | trans }}</th>
                <td>{{ coursHorsSPIM.nbHeures }}</td>
            </tr>
        </table>   
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>{{ 'coursHS.statut' | trans }}</th>
                <td>{{ coursHorsSPIM.statut }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.dateDemande' | trans }}</th>
                <td>{{ coursHorsSPIM.dateDemande | date }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.commentaire' | trans }}</th>
                <td>{{ coursHorsSPIM.commentaire }}</td>
            </tr>
            <tr>
                <th>{{ 'coursHS.commentaireED' | trans }}</th>
                <td>{{ coursHorsSPIM.commentaireED }}</td>
            </tr>
        </table>
    </div>
    
{% endblock %}
