{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.coursHorsSPIM.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h2>{{ nomPage }}</h2>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-form navbar-left">
                    <a href="{{ path('edspim_doctorant_coursHorsSPIM_nouveau') }}" class="btn btn-default">Faire une nouvelle demande</a>
                </div>
            </div>
        </div>
    </nav>
    <br/>
    {% if coursHorsSPIMListe | length != 0 %}
        <table class="table">
            <tr>
                <th>{{ 'coursHS.intitule' | trans }}</th>
                <th>{{ 'coursHS.statut' | trans }}</th>
                <th>{{ 'coursHS.dateDemande' | trans }}</th>
                <th>{{ 'coursHS.dateValidation' | trans }}</th>
                <th></th>
            </tr>
            {% for demande in coursHorsSPIMListe %}
                <tr>
                    <td>{{ demande.intitule }}</td>
                    <td>{{ demande.statut | trans }}</td>
                    <td>{{ demande.dateDemande | date }}</td>
                    <td>
                        {% if demande.statut != 'demande.statut.attente' %}
                            {{ demande.dateValidation | date }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('edspim_doctorant_coursHorsSPIM', {'coursHS' : demande.id }) }}" class="btn btn-default btn-sm">Voir la demande</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            Aucune demande de cours Hors SPIM actuellement
        </div>
    {% endif %}
{% endblock %}
