{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = cours %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_inscription_liste')}}">{{ 'page.inscriptionListe.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>Désinscription au cours {{ nomPage }}</h2>
    {{ form_start(form) }}
    <button type='submit' class='btn btn-default'>Se désinscrire du cours</button>
    {{ form_end(form) }}
{% endblock %}