{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = cours %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li><a href="{{ path('edspim_doctorant_inscription_liste')}}">{{ 'page.inscriptionListe.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}

{% set nbCoursDoc = cours.getCoursDoctorantInscription | length %}
{% block content %}
    <h2>Inscription au cours {{ nomPage }}</h2>
    {% if nbCoursDoc < cours.maxNbParticipants %}
        {{ form_start(form) }}
        <div class='alert alert-info'>
            Ce cours sera inscrit en tant que {{ app.user.doctorant.getAnneeToString | trans }} <br/>
            Le nombre d'inscrit est actuellement de {{ nbCoursDoc }} / {{ cours.maxNbParticipants }}
        </div>
        <button type="submit" class="btn btn-default">Confirmer l'inscription au cours</button>
        {{ form_end(form) }}
    {% else %}
        <div class="alert alert-danger">
            Le nombre de place disponible pour ce cours est atteint.
        </div>
    {% endif %}

{% endblock %}