{% extends 'EdspimAppBundle::layout.html.twig' %}

{% set nomPage = 'page.inscriptionListe.nom' | trans %}

{% block title %}{{ nomPage }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans }}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ nomPage }}</h2>
    {% for flashMessage in app.session.flashbag.get('inscription') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% set nbMesCours = mesCours | length %}
    {% set nbCours = cours | length %}
    {% if nbMesCours != 0 %}
        <div class="alert alert-info" role="alert">
            Vous êtes actuellement inscrit à {{ nbMesCours }} cours
        </div>
        <table class="table table-hover">
            <tr>
                <th>{{ 'cours.titre' | trans }}</th>
                <th>{{ 'cours.lieu' | trans }}</th>
                <th>{{ 'cours.typeCours.nom' | trans }}</th>
                <th>{{ 'cours.maxNbParticipants' | trans }}</th>
                <th></th>
            </tr>
            {% for cour in mesCours %}
                <tr>
                    <td>{{ cour }}</td>
                    <td>{{ cour.lieu }}</td>
                    <td>{{ cour.typeCours | trans }}</td>
                    <td>{{ cour.getCoursDoctorantInscription | length }} / {{ cour.maxNbParticipants }}</td>
                    <td>
                        <a href="{{ path('edspim_cours', {'cours' : cour.id })}}" class="btn btn-sm btn-success">Voir le cours</a>
                        <a href="{{ path('edspim_doctorant_desinscription', {'cours' : cour.id })}}" class="btn btn-default btn-sm">Se désinscrire</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if nbCours != 0 %}
        <div class="alert alert-info" role="alert">
            Il y a {{ nbCours }} cours en inscription
        </div>
        <table class="table table-hover">
            <tr>
                <th>{{ 'cours.titre' | trans }}</th>
                <th>{{ 'cours.lieu' | trans }}</th>
                <th>{{ 'cours.typeCours.nom' | trans }}</th>
                <th>{{ 'cours.maxNbParticipants' | trans }}</th>
                <th></th>
            </tr>
            {% for cour in cours %}
                <tr>
                    <td>{{ cour }}</td>
                    <td>{{ cour.lieu }}</td>
                    <td>{{ cour.typeCours | trans }}</td>
                    <td>{{ cour.getCoursDoctorantInscription | length }} / {{ cour.maxNbParticipants }}</td>
                    <td>
                        <a href="{{ path('edspim_cours', {'cours' : cour.id })}}" class="btn btn-sm btn-success">Voir le cours</a>
                        <a href="{{ path('edspim_doctorant_inscription', {'cours' : cour.id })}}" class="btn btn-default btn-sm">S'inscrire au cours</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucun cours
        </div>
    {% endif %}

{% endblock %}
