{% extends 'EdspimAppBundle::layout.html.twig' %}
{% set nomPage = 'page.monPif.nom' | trans %}
{% block title %}{{ nomPage }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('edspim_portail')}}">{{ 'page.vue.nom' | trans}}</a></li>
        <li class="active">{{ nomPage }}</li>
    </ol>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-form navbar-left">
                    <a href="{{ path('edspim_doctorant_pif_impression') }}" class="btn btn-default">Version plein écran</a>
                </div>
            </div>
        </div>
    </nav>
    <br/>
    {% include "EdspimAppBundle:Default:pif.html.twig" with {'doctorant' : doctorant, 'estED' : false, 'estMoi' : true } %}
{% endblock %}
