<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>PIF</title>
        <link rel="stylesheet" href="{{ asset('print/print.css') }}" media="all"/>
        <script type="text/javascript">
            function imprimer_page() {
                window.print();
            }
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1" id="pif-impression">
                <div class="row">
                    <div id="div_impression">
                        <button class="btn btn-sm btn-default" onclick="imprimer_page()" id="btn_impression">Imprimer</button>
                    </div>
                    <div class="col-xs-7">
                        <table class="table table-condensed">
                            <tr>
                                <th>Doctorant / PhD Student</th>
                            </tr>
                            <tr>
                                <td><b>Nom / Name :</b> {{ doctorant.nom }}</td>
                            </tr>
                            <tr>
                                <td><b>Prénom / First Name :</b> {{ doctorant.prenom }}</td>
                            </tr>
                            <tr>
                                <td><b>Dept Recherche / Research dept :</b> {{ doctorant.labDpt }}</td>
                            </tr>
                            <tr>
                                <td><b>Année de thèse en cours :</b> {{ doctorant.anneeDoctorant | trans }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-5">
                        <b>Visa du directeur de thèse</b><br/>
                        Je soussigné(e),<br/>
                        Nom : <br/>
                        Prénom :<br/>
                        certifie avoir préparé ce Plan Individuel de Formation avec le doctorant <br/>
                        et l'approuve <br/>
                        <br/>
                        Le _____________________ <br/>               
                        Signature <br/><br/>

                    </div>
                </div>

                {% include "EdspimAppBundle:Default:pif.html.twig" with {'doctorant' : doctorant, 'estED' : false, 'estMoi' : true } %}
            </div>
        </div>
    </body>
</html>