html, body {
    height: 100%;
}

.edspim-navbar {
    background-color: black;
    border-bottom: 3px solid #AFCB51;
}

.edspim-navbar a {
    color: #AFCB51;
}

.edspim_logo {
    padding: 0;
    margin: 0;
}

.edspim_logo li>a {
    margin: 0;
    padding: 0;
}

.edspim_logo img {
    height: 50px;
    margin: 0;  
}

.edspim-navbar-brand {
    float: left;
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    margin-left: 10px;
    color: #AFCB51;
}

.edspim-navbar-brand:hover {
    text-decoration: none;
    color: ghostwhite;
}

.footer-edspim {  
    border-top: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.edspim_login {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #AFCB51;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.edspim_login img {
    margin-left: auto;
    margin-right: auto;
}

.edspim_login .edspim_login_titre {
    border-top: 1px solid #AFCB51;
    background-color: ghostwhite;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.edspim_login .edspim_login_content {
    border-top: 1px solid #AFCB51;
    background-color: #dce9b3;
    padding : 20px;
}

/* CSS du PIF */
#pif .pif-align {
    text-align: center;
}

#pif .table>tbody>tr>td {
    padding: 3px;
}

#pif-annee {
    font-size: large;
}

#pif-intitule {
    background-color: lightgray;
    color: red;
}

#pif-formation {
    background-color: sandybrown;
}

#pif-boite {
    background-color: sandybrown;
}

#pif-sciences {
    background-color: #dce9b3;
}

.pif-sciences-cate {
    background-color: #f5e79e;
    font-size: small;
}

#pif-intitule-formation {
    height: 30px;
}

.pif-formation-content {
    height: 100px;
}

.pif-sciences-content {
    height: 50px;
}



/* Formulaire de login */
.edspim_login {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #AFCB51;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.edspim_login img {
    margin-left: auto;
    margin-right: auto;
}

.edspim_login .edspim_login_titre {
    border-top: 1px solid #AFCB51;
    
    background-color: ghostwhite;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.edspim_login .edspim_login_content {
    border-top: 1px solid #AFCB51;
    background-color: #dce9b3;
    padding : 20px;
}


/* Barre de gauche */
.edspim-navleft {
    height: 100%;
    /*background-color: lightslategrey;*/
    background-color: ghostwhite;
    padding: 20px;
    border-right: 2px solid #AFCB51;
}

.edspim-navleft>.row {
    margin-bottom: 10px;
}

.edspim-navleft-navigation a{
    color: #AFCB51;
}


/* Bloc de la barre de gauche */


/* Formulaire de connexion */
.form-login-edspim {
    background-color: #dce9b3;
    padding: 10px;
    border: 1px solid #AFCB51;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navleft-info-user {
    text-align: center;
    font-size: large;
}

.navleft-info-user>.row {
    margin-left: 0;
    margin-right: 0;
}

.content-edspim {
    padding-top: 10px;
    
}

.content-edspim .table .row {
    margin-bottom: 5px;
}

.proposition_cours {
    padding: 20px;
    border: 1px solid lightgray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
.proposition_cours .table th {
    background-color: lightgray;
}

.proposition_cours .table {
    background-color: white;
}

.img-circle {
    background-color: white;
}

.edspim-row-proposition {
    margin-bottom: 15px;
    background-color: ghostwhite;
}



